<tr>
  <td><%= pin.description %></td>
  <td class="options">
  	<%= link_to raw('<i class="like icon-thumbs-up"></i>'), { :controller => 'pins', :action => 'updateLikes', :id => pin.id, :like => true }, :method => :put, :remote => true %>
  	<%= link_to raw('<i class="like icon-thumbs-down"></i>'), { :controller => 'pins', :action => 'updateLikes', :id => pin.id }, :method => :put, :remote => true %>
	  <%= link_to raw("<i class='icon-search'></i>"), pin %>
	  <% if current_user == pin.user %>
		  <%= link_to raw("<i class='icon-pencil'></i>"), edit_pin_path(pin) %>
		  <%= link_to raw("<i class='icon-trash'></i>"), pin, method: :delete, data: { confirm: 'Are you sure?' } %>
		  </td>
		<% else %>
		  </td>
		<% end %>
</tr>