<div class="hero-unit">
  <h1>Share Those "Aha!" Moments</h1>
  <p>Maybe you read a Tweet that sparked it. Or possibly you were sitting there... thinking about what on earth happened last night... and then it hits you. Maybe even... an in-depth conversation is happening around you and all of a sudden...</p>
  <p>Everyone has 'em - those moments in which that cartoon lightbulb appears. "Aha! That's what that means" or "Finally! I get it!" or maybe even "Really?! I had no idea..." Chances are, there's other people out there who probably don't realize it either - so come on, sharing is caring.</p>
</div>
<div class="row">
	<div class="span4">
		<h1>Latest</h1>
		<table id="pins" class="table table-striped">			
			<tbody>
				<%= render @pins %>
			</tbody>
		</table>
	</div>
	<div class="span4">
		<h1>Greatest</h1>
		<table id="pins" class="table table-striped">			
			<tbody>
				<%= render @pinsLikes %>
			</tbody>
		</table>
	</div>
	<div class="span3 offset1">

		<h2>Sign in</h2>

		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  
		  <%= f.error_notification %>
		  
		  <%= f.input :email %>
		  
		  <%= f.input :password %>
		  
		  <%= f.input :remember_me, as: :boolean, inline_label: 'Remember Me', label: false %>
		
		  <%= f.submit "Sign in", class: "btn btn-primary" %>
		
		<% end %>
		
		<%= link_to "Don't Have An Account?", new_registration_path(resource_name) %><br />
		<%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
			
	</div>
</div>