<% if !user_signed_in? %>
	<p id="signUpNotice"><span class="label label-important">Please Note</span> You must be signed up to rank the posts below. Why not <%=link_to "Sign Up", new_user_registration_path %> now?</p>
<% end %>
<div class="row">
	<div class="span4">
		<h1>Latest</h1>
		<table id="pins" class="table table-striped">			
			<tbody>
				<%= render :partial => "pins/pinRating", :collection => @pins %>	
			</tbody>
		</table>
	</div>
	<div id="greatest" class="span4">
		<h1>Greatest</h1>
		<table id="pins" class="table table-striped">			
			<tbody>
				<%= render @pinsLikes %>
			</tbody>
		</table>
	</div>
	<div class="span3 offset1 hidden-phone">
		<% if user_signed_in? %>
			<h3>Member Links</h3>
			<%= link_to "Post a new Did-Not-Know-That", new_pin_path %><br />
			<%= link_to "See all my Did-Not-Know-Thats", pins_path %><br />
			<%= link_to "Email a suggesiton", "mailto:derrick@derrickshowers.com" %><br />
			<%= link_to "Logout", destroy_user_session_path %><br />
		<% else %>
			<h3>Sign in</h3>
	
			<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			  
			  <%= f.error_notification %>
			  
			  <%= f.input :email %>
			  
			  <%= f.input :password %>
			  
			  <%= f.input :remember_me, as: :boolean, inline_label: 'Remember Me', label: false %>
			
			  <%= f.submit "Sign in", class: "btn btn-primary" %>
			
			<% end %>
			
			<%= link_to "Don't Have An Account?", new_registration_path(resource_name) %><br />
		<% end %>
	</div>
</div>